#menu section{
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-left: 15px;
  background-color:#2BA5E5;
  overflow:hidden;
  box-shadow:inset 0px 0px 1px 0px rgba(0,0,0,0.3);
  width:250px;
  height:237px;
}

#menu section.hide {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  height:40px;
}





#menu p{
  margin:10px 0px 8px 0px;
}

#menu a{
  font-family:"Open Sans", sans-serif;
  text-decoration:none;
}

#menu .artist{
  margin:10px;
}

#menu .song{
  padding:6px 2px 5px 11px;
}

#menu section ul{
  list-style-type:none;
  background-color:#CDCECD;
  padding:0px;
  margin:0px;
}
